<section class="services card component-card shadow-sm border-0 mb-4">
<div class="py-3 px-4">

    <div class="card-header component-header d-flex justify-content-between align-items-center">

        <div>
            <h4 class="mb-0"><i class="bi bi-tools me-2"></i>Services</h4>
            <small class="text-muted">
                Add the services your business provides.
            </small>
        </div>

        <button
            id="add-service"
            class="btn btn-primary btn-sm">
            <i class="bi bi-plus-circle me-2"></i>
              Add Service

        </button>

    </div>

    <div
        id="services-list"
        class="card-body">

    </div>

</div>
</section>